transformers==4.40.0
accelerate==0.27.0
peft==0.10.0
deepspeed==0.14.4
accelerate==0.27.0
tokenizers
sentencepiece
decord
shortuuid
bitsandbytes
pydantic
markdown2[all]
numpy
scikit-learn
gradio
gradio_client
requests
httpx
uvicorn
fastapi
einops
einops-exts
timm
ninja
wandb
sagemaker-pytorch-training
pyav
open_clip_torch
datasets
tyro